<!DOCTYPE html>
<html>
<head>
    <title>Virtual Teaching Board</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <div class="header"> 
        <h1>Virtual Teaching Board</h1>
        <p>Start Teaching Happily!</p>
    </div>
    <div class="row">
            <img src="{{ url_for('static', filename='images/teacher-icon.png') }}" alt="Example Image">
            <button onclick="executeMainFile()" class="buttonelt" id="btn1" type="submit">Start Teaching</button>    
            <button onclick="convertImageToPdf()" class="buttonelt" id="downloadButton">Download PDF</button>
    </div>

    <script>
         function executeMainFile() {
            // Send request to Flask server to execute main file
            fetch('/execute_main_file')
                .then(response => response.text())
                .then(data => console.log(data))
                .catch(error => console.error('Error:', error));
        }

        function convertImageToPdf() {
            // Send request to Flask server to convert image to PDF and download
            fetch('/convert_image_to_pdf')
                .then(response => response.blob())
                .then(blob => {
                    // Create a temporary link element to trigger download
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.style.display = 'none';
                    a.href = url;
                    a.download = 'output_pdf.pdf';
                    document.body.appendChild(a);
                    a.click();
                    window.URL.revokeObjectURL(url);
                })
                .catch(error => console.error('Error:', error));
        }     

    </script>
</body>
</html>
